<div class="column">
  <section class="title-add">
    <h1>Tasks</h1>
    <%= link_to "Add task...", new_task_path %>
  </section>
  <section class="tasks">
    <ul>
      <%= render @tasks %>
    </ul>
  </section>
</div>
