@import "bootstrap-sprockets"; 
@import "bootstrap";

body {
    padding-top: 60px;
    }



ul {
    list-style-type: none;
    float: right;
    li {
        float: left;
        margin-right: 30px;
    }
}



/* typography */
h1, h2, h3, h4, h5, h6 { line-height: 1;
}
h1 {
    font-size: 3em; 
    letter-spacing: -2px; 
    text-align: center;
}
h2 {
    font-size: 1.2em; 
    letter-spacing: -1px; 

    font-weight: normal; 
    color: $gray-light;
}
p{
    font-size: 1.1em; 
    line-height: 1.7em;
}

.title-add {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-top: 0;
    padding: 0;
    padding-left: 10px;
    a {
        padding-left: 10px;
    }
}

.tasks {
    text-align: center;
    display: flex;
    flex-direction: column;
    p {
        margin:0;
    }
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}

.container {
    display: flex;
    flex-direction: column;
}