<header class="navbar navbar-fixed-top navbar-inverse bg-light">
  <div class="container">
    <%= link_to "ButlerCousins LDA", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Lists", lists_path %></li>
        <li><%= link_to "New list", new_list_path %></li>
      </ul>
    </nav>
  </div>
</header>
